*, html {
  box-sizing: border-box;
}

* {
  border-radius: 0 !important;
}

body {
  font-family: 'Lato', sans-serif;
}

.main-container {
  padding: 2%;
}

#first-row {
  margin: 0;
}

#second-row {
  margin: 0;
}

.header {
  padding: 0;
  margin-bottom: 5%;
  height: 100%;
}

.big {
  width: 100%;
  background-size: cover;
  box-shadow: 1px 0px 15px #888888;
  position: relative;
}

#red, #brick, #snowydrive, #bridge {
  padding: 0;
}

#img-red, #img-brick, #img-snowydrive, #img-bridge {
  padding: 5%;
  object-fit: cover;
  height: 188px;
  width: 100%;
}

.left {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  box-shadow: -2px 0px 10px #888888;
}

.right {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  box-shadow: 2px 0px 10px #888888;
}

footer {
  padding: 10px;
}

#main-caption p {
  font-size: 1.25em;
  color: white;
  font-weight: bold;
  padding: 4%;
  background: linear-gradient(to right, rgba(165, 165, 165, 0.5), rgba(165, 165, 165, 0.1));
  border-radius: 15px;
  margin-right: 2%;
  line-height: 1.25em;
}

.caption {
  position: absolute;
  bottom: 7%;
  left: 5%;
}

.row {
  margin: 5% 2%;
}

p {
  padding: 5%;
}

.card {
  border: none;
  background: white;
}

.hands-div {
  margin-top: 5%;
  padding-right: 0;
  padding-left: 0;
  padding: 0;
}


#hands-caption p {
  font-size: 2em;
  color: white;
  font-weight: bold;
  padding: 4%;
  background: linear-gradient(to right, rgba(165, 165, 165, 0.2), rgba(165, 165, 165, 0));
  border-radius: 15px;
  margin-right: 2%;
  line-height: 1.25em;
}


/*--media query--*/
@media screen and (min-width: 450px) {
  .big {
    height: 300px;
    object-fit: cover;
  }
}

@media screen and (min-width: 579px) {
  #first-row {
    margin: 20px;
  }

  #second-row {
    margin: 20px;
  }
}

@media screen and (min-width: 992px) {
  .header, .hands-div {
    margin: 0;
    padding: 0;
  }

  .big {
    height: 100%;
  }
}

@media screen and (min-width: 1350px) {
  .main-container {
    width: 1350px;
    margin: 0 auto;
  }
}
