*, html {
  box-sizing: border-box;
}

* {
  border-radius: 0 !important;
}

body {
  font-family: 'Lato', sans-serif;
}

.main-container {
  padding: 5%;
}

.header {
  padding: 0;
  margin-bottom: 5%;
}

.header img {
    box-shadow: 1px 0px 15px #888888;
}

#red, #brick, #snowydrive, #bridge {
  padding: 0;
}

#img-red, #img-brick, #img-snowydrive, #img-bridge {
  padding: 5%;
  object-fit: cover;
  min-height: 100%;
}

.left {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  box-shadow: -2px 0px 10px #888888;
}

.right {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  box-shadow: 2px 0px 10px #888888;
}

#main-caption p {
  font-size: 1.25em;
  color: white;
  font-weight: bold;
  padding: 4%;
  background: linear-gradient(to right, rgba(165, 165, 165, 0.5), rgba(165, 165, 165, 0.1));
  border-radius: 15px;
  margin-right: 2%;
  line-height: 1.25em;
}

#main-footer-img {
  color: white;
  font-size: 13px;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
}

/*.img-fluid {
  margin: 2%;
  padding-right: 5%;
  width: 100%;
  height: auto;
  position: relative;
}*/

.caption {
  position: absolute;
  bottom: 7%;
  left: 5%;
}

.row {
  margin: 5% 2%;
}

p {
  padding: 5%;
}

.card {
  border: none;
  background: white;
}

.card-img-top {
  width: 100%;
}

#falls-caption p {
  font-size: 2em;
  color: white;
  font-weight: bold;
  padding: 4%;
  background: linear-gradient(to right, rgba(165, 165, 165, 0.2), rgba(165, 165, 165, 0));
  border-radius: 15px;
  margin-right: 2%;
  line-height: 1.25em;
}


/*--media query--*/
@media screen and (min-width: 1450px) {
  .main-container {
    margin: 0 auto;
  }

  /*#red, #brick, #snowydrive, #bridge {
    padding: 5%;
    height: 250px;
    width: 100%;
  }*/
}
